body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
    font-size: 1.5em; /* 全局字體放大 */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 5em; /* 增大標題字體 */
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px; /* 增加間距 */
    padding: 20px; /* 增加區域內邊距 */
}

input {
    padding: 15px;
    font-size: 1.2em;
    width: 20%; /* 輸入框占寬度 */
    max-width: 300px; /* 設置最大寬度 */
    box-sizing: border-box;
    text-align: center;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 80%; /* 表格寬度增加到螢幕的 80% */
    max-width: 140000px; /* 限制最大寬度 */
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em; /* 字體放大 */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
}

thead {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

tfoot {
    background-color: #f1f1f1;
    font-weight: bold;
}
